*:3001
log stdout
errors stdout
root ./public
gzip
rewrite / {
	regexp .*
	to /index.php{uri}
}
fastcgi / unix:///run/php/php7.0-fpm.sock php {
	root /media/ssd1/projects/dispatch-zep/public
	index index.php
}