*:3001
log stdout
errors stdout
root /media/ssd1/projects/dispatch-zep/app/public
gzip
rewrite / {
	regexp .*
	to {path} {path}/ /index.php{uri}
}
fastcgi / unix:///run/php/php7.0-fpm.sock php {
	root /media/ssd1/projects/dispatch-zep/app/public
	index index.php
}