*:3001
log stdout
errors stdout
root /Users/michael/Downloads/dispatch-zep-master/app/public
gzip
rewrite / {
	regexp .*
	to {path} {path}/ /index.php{uri}
}
fastcgi / 127.0.0.1:9000 php {
	root /Users/michael/Downloads/dispatch-zep-master/app/public
	index index.php
}